
* {
    box-sizing: border-box;
    color:rgb(75, 75, 75);
}
body {
    font-family: Arial;
    margin:0;
}
a{
    color:rgb(49, 49, 49);
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

/*Top Navigaotor*/
.topnav{
    width:100%;
    padding:15px 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:10%;
}
.topnav a{
    padding:0 5px;
    display: block;
    text-align: center;
    margin: 0 10px;
}
#profile{
    width:42px;
    border-radius:50%;
    margin-right:-6px;
}
/*Middle Page*/
#search-div{
    display:flex;
    flex-direction: column;
    width:100%;
    height:75%;
    justify-content:center;
    align-content:center;
}
/*Logo*/
#logo{
    display:block;
    width:16%;
    height:auto;
    align-self:center;
    margin: 20px 0;
}
/*Search Bar*/
.search-form{
    display:block;
    width:40%;
    align-self:center;
    height:20px;
    border-radius: 40px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgba(128, 128, 128, 0.342);
    height:50px;
    position:relative;
}
.search-form:hover{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.search-form:focus{
    border-radius:5px;
  }
#search{
    display:block;
    border: none;
    appearance: none;
    outline: none;
    position:absolute;
    left:40px;
    font-size:20px;
    transform: translateY(50%);
}
#search-icon{
    position:absolute;
    left:10px;
    transform: translateY(55%);
    color:rgb(167, 167, 167);
}
/*Buttons*/
#box-div{
    display:flex;
    flex-direction: row;
    align-self:center;
    margin:20px;
}
#box-div div{
    background-color: rgba(224, 224, 224, 0.37);
    margin:0 20px;
    padding:15px 15px;
    border-radius:5%;
}
#box-div div:hover{
    border-width: 5px;
    border-color:blue;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
/*Link*/
#text-link{
    font-size:15px;
    font-weight: 300;
    align-self:center;
}
#link-espanol{
    color:blue;
    align-self:center;
}
/*Footer*/
.footer{
    background-color:rgba(177, 177, 177, 0.233);
    color:rgb(223, 223, 223);
    height:15%;
}
hr{
    color:rgba(177, 177, 177, 0.171);
}
#country{
    font-weight:300;
    font-size:16px;
    color:rgb(131, 131, 131);
    padding:10px 20px;
}
.bottom-links{
    width:100%;
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left-links a, .right-links a{
    padding:10px 10px;
    color:rgb(131, 131, 131);
    font-size:16px;
}
